.form-group{
	position: absolute;
	left:100px; right: 100px; top: 20px;

	.form-control{
		width: 350px;
		margin-bottom: 15px;
	}

	label{
		font-size: 16px;
	}
	button{
		margin-left: 270px;
		margin-top: 10px;
	}
}