.form-group{
	position: absolute;
	left:100px; right: 100px; top: 6px;

	.form-control{
		width: 350px;
		margin-bottom: 12px;
	}

	label{
		font-size: 14px;
	}
	button{
		margin-left: 270px;
		margin-top: 10px;
	}

	.hoursNotSubmitted{
		list-style-type: none;

		.form-control{
			display: inline-block;
			width: 80px;
			margin-right: 15px;
		}
	}
}